@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root{
    --bg-color: #CDC1FF;
    --primary-color: #c78ad6;
    --secondary-color: #A594F9;
    --font:"Nunito Sans", sans-serif;

}
 body {
    background-color: var(--bg-color);
 }